body{
	/* Setting the default text color, size, page background and a font stack: */
	background-color:#355664;
}

.logo{
    color: white;
}


div.nav{
	background:url(img/gradient_light.jpg) repeat-x 50% 50% #f8f8f8;
	padding:0 5px;
	position:absolute;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 12px;

	right:0;
	
	border:1px solid #FCFCFC;

	-moz-box-shadow:0 1px 1px #333333;
	-webkit-box-shadow:0 1px 1px #333333;
	box-shadow:0 1px 1px #333333;
}


div.nav ul li a,
div.nav ul li a:visited{
	color:#565656;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	text-shadow:0 1px 1px white;
}

div.nav ul li a:hover{
	text-decoration:none;
	background-color:#f0f0f0;
}

div.nav, div.article, div.nav ul li a,div.figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}


.line{
	/* The dividing line: */
	height:1px;
	background-color:#E3E3E3;
	border-bottom:1px solid #E3E3E3;
	margin:1em 0;
	overflow:hidden;
}

